<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Users</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <%- include("partials/navbar") %>

  <!-- Data rendering -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-5 offset-md-3 card bg-light">
        <div class="card-body">
          <% if(info.status == "owner") { %>
          <form action="/updatesuser/<%= user.id %>" method="POST">
            <input type="text" name="username" value="<%= user.username %>" placeholder="Username" class="form-control mb-3" required/>
            <input type="text" name="email" value="<%= user.email%>" placeholder="Email" class="form-control mb-3" />
            <input type="password" name="password" value="<%= user.password %>" placeholder="Password" class="form-control mb-3" required/>
            <button type="submit" class="btn btn-danger">Save User</button>
            <a href="/susers" class="btn btn-info">Cancel</a>
          </form>
          <% } %>
          <% if(info.status == "suser") { %>
          <form action="/updateluser/<%= user.id %>" method="POST">
            <input type="text" name="username" value="<%= user.username %>" placeholder="Username" class="form-control mb-3" required/>
            <input type="text" name="email" value="<%= user.email%>" placeholder="Email" class="form-control mb-3" />
            <input type="password" name="password" value="<%= user.password %>" placeholder="Password" class="form-control mb-3" />
            <button type="submit" class="btn btn-danger">Save User</button>
            <a href="/lusers" class="btn btn-info">Cancel</a>
          </form>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</body>

</html>