<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Management</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <%- include("partials/navbar") %>

  <% if(info.status == "suser") { %>
  <h2 class="centert">Standard Users</h2>
  <% } %>
  <% if(info.status == "owner") { %>
  <h2 class="centert">Super Users</h2>
  <% } %>

  <!-- Render users. JS takes care of which class of users is rendered. -->
  <% if (users.length > 0) { %>
  <div class="outside">
    <div class="inside">
      <div>
        <table class="table table-light table-bordered table-hover">
          <thead>
            <tr>
              <td>Username</td>
              <td>Email</td>
              <td>Password</td>
              <td>Organization</td>
              <td>Actions</td>
            </tr>
          </thead>
          <tbody>
            <% if (users) { %>
            <% for(var i=0; i < users.length; i++) {%>
            <tr>
              <td><%=users[i].username%></td>
              <td><%= users[i].email %></td>
              <td><%= 'â—' .repeat(users[i].password.length) %></td>
              <td>
                <% for(var x=0; x < organizations.length; x++){ %>
                <% if (organizations[x].id == users[i].organization) { %>
                <%= organizations[0].name %>
                <% } %>
                <% } %>
              </td>
              <td class="d-flex gap-2">
                <!-- These button's urls reference urls available only to adnins. -->
                <% if(info.status == "suser") { %>
                <a href="/updateluser/<%= users[i].id %>" class="btn btn-info">Edit</a>
                <a href="/deleteluser/<%= users[i].id %>" class="btn btn-danger">Delete</a>
                <% } %>
                <!-- These button's urls reference urls available only to owners. -->
                <% if(info.status == "owner") { %>
                <a href="/updatesuser/<%= users[i].id %>" class="btn btn-info">Edit</a>
                <a href="/deletesuser/<%= users[i].id %>" class="btn btn-danger">Delete</a>
                <% } %>
              </td>
            </tr>

            <% } %>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <% } else {%>
  <p class="centert">No Users</p>
  <% } %>

  <!-- Create User -->
  <h2 class="centert">Add User</h2>
  <div class="outside">
    <div class="inside">
      <!-- This form delivers the data to /addluser. -->
      <% if(info.status == "suser") { %>
      <form action="/addluser" method="POST">
        <hr>
        <div class="form-group">
          <h3 class="centert">User Info</h3>
          <input type="text" name="username" placeholder="Username" class="form-control mb-2" autofocus />
          <input type="email" name="email" placeholder="Email" class="form-control mb-2" />
          <input type="password" name="password" placeholder="Password" class="form-control mb-2" />
        </div>
        <button type="submit" class="btn btn-info">Add User</button>
        <hr>
      </form>
      <% } %>
      <!-- This form delivers the data to /addsuser. -->
      <% if(info.status == "owner") { %>
      <form action="/addsuser" method="POST">
        <div class="form-group">
          <h3 class="centert">User Info</h3>
          <input type="text" name="username" placeholder="Username" class="form-control mb-2" autofocus required />
          <input type="email" name="email" placeholder="Email" class="form-control mb-2" />
          <input type="password" name="password" placeholder="Password" class="form-control mb-2" required />

          <label for="organization" class="sr-only">Organization</label>
          <select required class="form-control mb-2" type="text" id="organization" name="organization">
            <option hidden disabled selected value>Organization</option>
            <% if (organizations) { %>
            <% for(var i=0; i < organizations.length; i++) {%>
            <option><%= organizations[i].name %></option>
            <% } %>
            <% } %>
          </select>
        </div>
        <button type="submit" class="btn btn-info">Add User</button>
        <a class="btn btn-success" href="/addorganization">Create Organization</a>
      </form>
      <% } %>
    </div>
  </div>

  <!-- Organizations -->
  <% if(info.status == "owner") { %>
  <h2 class="centert">Organizations</h2>
  <% if (organizations.length > 0) { %>
  <div class="outside">
    <div class="inside">
      <table class="table table-light table-bordered table-hover">
        <thead>
          <tr>
            <td>Name</td>
            <td>Government ID</td>
            <td>Actions</td>
          </tr>
        </thead>
        <tbody>
          <% if (organizations) { %>
          <% for(var i=0; i < organizations.length; i++) {%>
          <tr>
            <td>
              <%= organizations[i].name %>
            </td>
            <td>
              <%= organizations[i].governmentId %>
            </td>
            <td class="d-flex gap-2">
              <a href="/updateorganization/<%= organizations[i].id %>" class="btn btn-info">Edit</a>
              <a href="/deleteorganization/<%= organizations[i].id %>" class="btn btn-danger">Delete</a>
            </td>
          </tr>
          <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
  <% } else {%>
  <p class="centert">No Organizations</p>
  <% } %>
  <% } %>


  <!-- Render donors for Suser. -->
  <% if(info.status == "suser") { %>
  <h2 class="centert">Donors</h2>
  <% if (donors.length > 0) { %>
  <div class="outside">
    <div class="inside">
      <table class="table table-light table-bordered table-hover">
        <thead>
          <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Address</td>
            <td>Phone</td>
            <td>Donation Frequency</td>
            <td>Last Donation Date</td>
            <td>Actions</td>
          </tr>
        </thead>
        <tbody>
          <% if (donors) { %>
          <% for(var i=0; i < donors.length; i++) {%>
          <tr>
            <td><%= donors[i].fname + ' ' + donors[i].lname %></td>
            <td><%= donors[i].email %></td>
            <td><%= donors[i].address %></td>
            <td><%= donors[i].phone %></td>
            <td>Every <%= donors[i].frequency %> days</td>
            <td>
              <% if (donors[i].lastPaymentDateTime != null) { %>
              <%= donors[i].lastPaymentDateTime.toDateString() %>
              <% } %>
            </td>
            <td class="d-flex gap-2">
              <a href="/update/<%= donors[i].id %>" class="btn btn-info">
                Edit
              </a>
              <a href="/delete/<%= donors[i].id %>" class="btn btn-danger">
                Delete
              </a>
            </td>
          </tr>
          <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
  <% } else {%>
  <p class="centert">No Donors Yet</p>
  <% } %>
  <% } %>

</body>

</html>