<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Management</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <%- include("partials/navbar") %>

  <% if(info.status == "suser") { %>
  <h2 class="centert">Standard Users</h2>
  <% } %>
  <% if(info.status == "owner") { %>
  <h2 class="centert">Admin Users</h2>
  <% } %>

  <!-- We are only rendering this if there are some users. -->
  <% if (users.length > 0) { %>
  <div class="outside">
    <div class="inside">
      <table class="table table-light table-bordered table-hover">
        <thead>
          <tr>
            <td>Email</td>
            <td>Password</td>
            <td>Actions</td>
          </tr>
        </thead>
        <tbody>
          <% if (users) { %>
          <% for(var i=0; i < users.length; i++) {%>
          <tr>
            <td>
              <%= users[i].email %>
            </td>
            <td>
              <%= 'â—' .repeat(users[i].password.length) %>
            </td>
            <td class="d-flex gap-2">
              <!-- These button's urls reference urls available only to adnins. -->
              <% if(info.status == "suser") { %>
              <a href="/updateluser/<%= users[i].id %>" class="btn btn-info">Edit</a>
              <a href="/deleteluser/<%= users[i].id %>" class="btn btn-danger">Delete</a>
              <% } %>
              <!-- These button's urls reference urls available only to owners. -->
              <% if(info.status == "owner") { %>
              <a href="/updateadmin/<%= users[i].id %>" class="btn btn-info">Edit</a>
              <a href="/deleteadmin/<%= users[i].id %>" class="btn btn-danger">Delete</a>
              <% } %>
            </td>
          </tr>

          <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
  <% } else {%>
  <p class="centert">No Users Yet</p>
  <% } %>

  <h2 class="centert">Add User</h2>

  <div class="col-md-5">
    <div class="card-body">
      <!-- This form delivers the data to /adduser. -->
      <% if(info.status == "suser") { %>
      <form action="/addluser" method="POST">
        <input type="text" name="username" placeholder="Username" class="form-control mb-2" autofocus />
        <input type="email" name="email" placeholder="Email" class="form-control mb-2" />
        <input type="password" name="password" placeholder="Password" class="form-control mb-2" />

        <button type="submit" class="btn btn-info">Add User</button>
      </form>
      <% } %>
      <!-- This form delivers the data to /addadmin. -->
      <% if(info.status == "owner") { %>
      <form action="/addadmin" method="POST">
        <input type="text" name="username" placeholder="Username" class="form-control mb-2" autofocus />
        <input type="email" name="email" placeholder="Email" class="form-control mb-2" />
        <input type="password" name="password" placeholder="Password" class="form-control mb-2" />

        <button type="submit" class="btn btn-info">Add User</button>
      </form>
      <% } %>
    </div>
  </div>

  <% if(info.status == "suser") { %>

  <h2 class="centert">Donors</h2>

  <!-- Data rendering -->
  <% if (donors.length > 0) { %>
  <div class="outside">
    <div class="inside">
      <table class="table table-light table-bordered table-hover">
        <thead>
          <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Address</td>
            <td>Phone</td>
            <td>Donation Frequency</td>
            <td>Last Donation Date</td>
            <td>Actions</td>
          </tr>
        </thead>
        <tbody>
          <% if (donors) { %>
          <% for(var i=0; i < donors.length; i++) {%>
          <tr>
            <td>
              <%= donors[i].fname + ' ' + donors[i].lname %>
            </td>
            <td>
              <%= donors[i].email %>
            </td>
            <td>
              <%= donors[i].address %>
            </td>
            <td>
              <%= donors[i].phone %>
            </td>
            <td>Every <%= donors[i].frequency %> days</td>
            <td>
              <%= donors[i].lastPaymentDateTime.toDateString() %>
            </td>
            <td class="d-flex gap-2">
              <a href="/update/<%= donors[i].id %>" class="btn btn-info">
                Edit
              </a>
              <a href="/delete/<%= donors[i].id %>" class="btn btn-danger">
                Delete
              </a>
            </td>
          </tr>
          <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>

  <% } else {%>
  <p class="centert">No Donors Yet</p>

  <% } %>
  <% } %>

</body>

</html>